.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.logout {
  padding: 5px;
  border: none;
  background-color: #53b7c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.logout:hover {
  background-color: #266dc3;
}
